
* {
    margin: 0;
    box-sizing: border-box;
}

:root {
--Dark_cyan: hsl(158, 36%, 37%);
--Cream: hsl(30, 38%, 92%);
--Very_dark_blue: hsl(212, 21%, 14%);
--Dark_grayish_blue: hsl(228, 12%, 48%);
--White: hsl(0, 0%, 100%);
}

body {
    display: flex;
    align-items: center;
    background-color: var(--Cream);
    min-height: 100vh;
    font-size: 14px;
    font-family: 'Fraunces', serif;
    height: 100vh;
    
}

.card {
    border-radius: 10px;
    margin: 0 auto;   
}

.card_container {
    display: flex;
    flex-direction: column;
    width: 330px;
}

.container_img {
    width: 100%;
    background-image: url("product-preview-card-component-main/images/image-product-mobile.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 220px;
    border-radius: 10px 10px 0px 0px;   
}

.container_contenido {
    background-color: var(--White);
    border-radius: 0px 0px 10px 10px; 
    padding: 18px;
    text-align: left;
}

.contenido_preview {
    color: var(--Dark_grayish_blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding: 15px 0px;
}

.contenido_title {
    color: var(--Very_dark_blue);
    padding-bottom: 15px;
}

.contenido_paragraph {
    color: var(--Dark_grayish_blue);
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 18px;
    padding-right: 10px;
    line-height: 1.5;
    
}

.old_price .contenido_paragraph .contenido_preview{
    font-weight: 400;
}

.contenido_price {
    display: flex;

}

.actual_price {
    color: var(--Dark_cyan);
    font-size: 30px;
    padding-right: 18px;
}

.old_price {
    color: var(--Dark_grayish_blue);
    text-decoration: line-through;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    align-self: center;
    font-weight: 500;
}

.contenido_cta {
    display: block;
    text-decoration: none;
    color: var(--White);
    background-color: var(--Dark_cyan);
    font-family: 'Montserrat', sans-serif;
    margin: 15px auto 10px;
    padding: 14px 15px;
    border-radius: 8px;
    text-align: center;
    font-weight: 600;

}

.cta_icono {
    padding-right: 5px;
}

@media (max-width: 1440px) {
    .card_container {
        flex-direction: row;
        width: 550px;
    }

    .container_img {
        background-image: url("product-preview-card-component-main/images/image-product-desktop.jpg");
        background-size:cover;
        border-radius: 10px 0px 0px 10px;   
        width: 50%;
        display: block;
        height: auto;
        padding: 0%;
        margin: 0;
    }

    .container_contenido {
        width: 50%;
        border-radius: 0px 10px 10px 0px ;        
    }

    
}
